<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/posts"
      ><i class="fa-solid fa-earth-americas"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/posts"
          ><p class="Title mt-2">Social Sphere</p></a
        >
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/posts/new">Add a New Post </a>

        <% if(!currUser){ %>
        <a class="nav-link" href="/signup"><b>Signup</b></a>
        <a class="nav-link" href="/login"><b>Login</b></a>
        <%} %> <% if(currUser){ %>

        <a class="nav-link" href="/logout">Logout</a>
        <a class="nav-link" href="/users/<%= currUser._id %>"
          ><div class="profile">
            <img
              src="<%= currUser.profilePicture.url%>"
              alt="user"
              class="cover"
            /></div
        ></a>
        <%} %>
      </div>
    </div>
  </div>
</nav>
